img, p, h1, h2, .divider, ol {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    padding: 15px 0px;
}

p {
    font-size: 18px;
    line-height: 1.4;
    font-family: "Crimson Text";
}

h1, h2 {
    font-family: "Roboto";
}

.divider {
    height: 2px;
    background-color: #0868ac;
    margin-top: 10px;
    margin-bottom: 10px;
}

.name-tag {
    font-family: "Obritron";
}

/* #sig {
    display: block;
    max-width: 560px;
    max-height: 500px;
} */

#dan {
    max-width: 300px;
    max-height: 250px;
}

#saquon {
    max-width: 400px;
    max-height: 350px;
}

#food {
    display: block;
    max-width: 800px;
}

#myTooltip {
    position: absolute;
    pointer-events: none;
    padding: 15px;
	background-color: white;
    border-color: black;
	border: 1px solid black;
    border-radius: 10px;
    opacity: 0;
}